# Firebase (já configurado)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=

# Porta do backend
PORT=3001

# URL do backend (para o frontend)
VITE_API_URL=http://localhost:3001